
.number {
  font-size: 8.5em;
  font-weight: 100;
  line-height: 1;
}

.points {
  font-size: 2.8125em;
  font-weight: 300;
}

.svg-content circle {
  @extend .progress-transition;
  stroke-dashoffset: 0;
  stroke: rgba(0, 0, 0, .25);
  stroke-width: 3px;
}