$step-1-color: #fc5457;
$step-2-color: #ffb300;
$step-3-color: #ed6d24;
$step-4-color: #01C854;
$step-5-color: #2196F3;

.level-1 {
  background-color: $step-1-color;
}

.level-2 {
  background-color: $step-2-color;
}

.level-3 {
  background-color: $step-3-color;
}

.level-4 {
  background-color: $step-4-color;
}

.level-5 {
  background-color: $step-5-color;
}