/**
this is the main SCSS entry point.
Any SCSS modules need to be included here.
 */

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #f0ffff;
}

Message, h1 {
  font-weight: 300;
  margin: 50px;
}

@import "transitions";
@import "counters";
@import "steps";